In [15]:
import pandas as pd
from pandasql import sqldf

In [12]:
cols = ['name', 'id', 'company', 'total','dx','sj','cj','ot']
df = pd.DataFrame(columns=cols)
for i in range(2,8):
    tdf = pd.read_excel('jfjx.xlsx',sheet_name=f'{i}')
    tdf.columns = cols
    df = pd.concat([df,tdf],axis=0)

/var/folders/3x/61_4d1nn0k5czsgcvzkg_7mw0000gn/T/ipykernel_25799/3683808127.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,tdf],axis=0)

In [23]:
df.fillna(0, inplace=True)
df.head()

  name        id       company  total   dx    sj    cj   ot
0  傅颖珺  21010397  江苏星众数字科技有限公司   20.0  5.0  15.0   0.0  0.0
1   刘畅  88556534  江苏星众数字科技有限公司   20.0  0.0   0.0  20.0  0.0
2  赵玲芝  88564168  江苏星众数字科技有限公司   20.0  0.0  19.0   0.0  1.0
3  蒋春蕾  88570329  江苏星众数字科技有限公司   20.0  0.0   0.0  20.0  0.0
4  唐婷婷  88578114  江苏星众数字科技有限公司   20.0  2.0   0.0  20.0  0.0

In [28]:
sql='''
select company,id,name,sum(total) as total
    ,sum(dx) as dx
    ,sum(sj) as sj
   ,sum(cj) as cj
  ,sum(ot) as ot
from df
group by company,id,name
having sum(dx)>5
order by dx desc
'''
tdf = sqldf(sql,locals())
tdf.shape

(23, 8)